body{

    background-image: url("/images/poigneeporte_closeup.png");
    background-repeat: no-repeat;
    background-size:1920px 1080px ;
    
    }
    
    #crochet1{
    
    position: absolute;
    
    left: 920px;
    
    top: 460px;
    
    }
    
    #crochet2{
    
         position: absolute;
         
         left: 1080px;
         
         top: 430px;
         
    }
    
    #crochet3{
    
         position: absolute;
         
         left: 840px;
         
         top: 410px;
         
    }
    
    #crochet4{
    
         position: absolute;
         
         left: 1000px;
         
         top: 380px;
         
    }
    
    #crochet5{
    
         position: absolute;
         
         left: 760px;
         
         top: 330px;
         
    }
    
    #trombone{
    
         position: absolute;
         
         left: 84px;
    
         top: 610px;
         
        transform: rotate(-15deg)

    }
    
    
    .marginauto{
    
    position: absolute;
    
    left: 670px;
    
    top: 80px;
         
    }
    
    .boutons{
    
    outline: solid;
    
    color: yellow;
    
    }
    
    #instructions{
    
    position: absolute;
         
    left: 1300px;
         
    top: 200px;
         
    }
    
    #texte_instructions{
    
    font-family: VCR OSD mono;
    
    font-size: 16px;
    
    position: absolute;
    
    left: 1350px;
    
    top: 400px;
    
    
    }

#texte_continuer{

    color: white ;

}
    
    
    
    
    
    
    
    